* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#titleHeader {
    color: white;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding-top:10px;
    padding-left: 15px;
    height: 50px;
    width: 100%
}

.WIP {
    position: relative;
    top: 50px;
}

p.disclaimer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 0 auto;
    text-align: center;
    background-color: lightgray;
    Width: 100%;
    opacity: 50%;
}
